<%= paginate @professionals %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost per hour</th>
      <th>Available</th>
      <th>Skills</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.fname %> <%= professional.lname %></td>
        <td><%= number_to_currency professional.cost_per_hour %></td>
        <td><%= professional.available %></td>
        <td><%= professional.skills %></td>
        <td><%= professional.category.name %></td>
        <td><%= link_to 'Show', professional %></td>
      </tr>
    <% end %>
  </tbody>
</table>