<header>
  <section id="logo_area">
    <%= image_tag("itsprLogo.png") %>
    <b>
      <%= link_to "About Us", about_path %> |
      <%= link_to "Contact", contact_path %> |
      <%= link_to "Corporate Log-In", corporate_log_in_path %> |
      <%= link_to "Log in as Admin", admin_root_path %>
    </b>
  </section>
  <nav id="header_links">
    <%= link_to "Home Page", root_path %>
    <%= link_to "All Professionals", professionals_listing_path %>
    <%= link_to "Categories", category_listing_path %>
    <%= link_to "Cart", cart_path %>
    <% if session[:current_user_id] %>
      <i>Logged in as: <%= session[:current_user_name] %></i>
    <% end %>

    <%= form_tag search_results_path, id: "search", method: 'get' do %>
      <%= select_tag(:cat_id_head, options_from_collection_for_select(Category.all, :id, :name), prompt: "All") %>
      <%= text_field_tag :search_keywords_head %>
      <%= submit_tag "Search" %>
    <% end %>
  </nav>
</header>