<h1>Welcome to the home page!</h1>

<%= link_to 'Orders', orders_path %>
<%= link_to 'Professionals', professionals_path %>
<%= link_to 'Categories', categories_path %>
<%= link_to 'Rentals', rentals_path %>
<%= link_to 'Corporations', corporations_path %>
<%= link_to 'Provinces', provinces_path %>
<%= link_to 'Log in as Admin', admin_root_path %>