<p id="notice"><%= notice %></p>
<%= render 'Frontpage/header_links' %>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h1>Listing professionals</h1>

<%= render 'professionals/professional_list' %>

<br>

<%= link_to 'Back', category_listing_path %>